<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @person.name %> has registered.</h1>
    <table>
      <tr>
        <th>Name:</th>
        <td><%= @person.name %></td>
      </tr>
      <tr>
        <th>Company:</th>
        <td><%= @person.company %></td>
      </tr>
      <tr>
        <th>Address 1:</th>
        <td><%= @person.address_1 %></td>
      </tr>
      <tr>
        <th>Address 2:</th>
        <td><%= @person.address_2 %></td>
      </tr>
      <tr>
        <th>City:</th>
        <td><%= @person.city %></td>
      </tr>
      <tr>
        <th>Postcode:</th>
        <td><%= @person.postcode %></td>
      </tr>
      <tr>
        <th>Country:</th>
        <td><%= @person.country %></td>
      </tr>
      <tr>
        <th>Telephone:</th>
        <td><%= @person.telephone %></td>
      </tr>
      <tr>
        <th>Email:</th>
        <td><%= @person.email %></td>
      </tr>
      <tr>
        <th>Co-Driver:</th>
        <td><%= @person.co_driver %></td>
      </tr>
      <tr>
        <th>Payment:</th>
        <td><%= @person.payment %></td>
      </tr>
      <tr>
        <th colspan="2">Supplements</th>
      </tr>
      <tr>
        <th>Single Room?:</th>
        <td><%= @person.single_room %></td>
      </tr>
      <tr>
        <th>Junior suite?:</th>
        <td><%= @person.sup_junior_suite %></td>
      </tr>
      <tr>
        <th>Exceptional car?:</th>
        <td><%= @person.sup_exceptional_car %></td>
      </tr>
      <tr>
        <th>Own car?:</th>
        <td><%= @person.sup_own_car %></td>
      </tr>
      <tr>
        <th>T-Shirt Size:</th>
        <td><%= @person.sup_tshirt %></td>
      </tr>
      <tr>
        <th>Comments:</th>
        <td><%= raw @person.comments %></td>
      </tr>
    </table>
  </body>
</html>