<%= simple_form_for @registration do |f| %>
<fieldset>
  <div class="clearfix">
    <h2>Driver 1 Details</h2>
  </div>
  <div class="clearfix"><%= f.input :name %></div>
  <div class="clearfix"><%= f.input :company %></div>
  <div class="clearfix"><%= f.input :address_line_1 %></div>
  <div class="clearfix"><%= f.input :address_line_2 %></div>
  <div class="clearfix"><%= f.input :city %></div>
  <div class="clearfix"><%= f.input :postcode %></div>
  <div class="clearfix"><%= f.input :country %></div>
  <div class="clearfix"><%= f.input :telephone %></div>
  <div class="clearfix"><%= f.input :email %></div>
  <div class="clearfix">
    <%= f.input :tshirt, :label => "T-Shirt size", :collection => [
        ['S', 'S'],
        ['M', 'M'],
        ['L', 'L'],
        ['XL', 'XL'],
        ['XXL', 'XXL']
      ], :as => :select, :item_wrapper_tag => :li, :collection_wrapper_tag => :ul, :label_method => :last, :value_method => :first %>
  </div>

  <div class="clearfix">
    <h2>Driver 2 Details</h2>
  </div>
  <div class="clearfix"><%= f.input :co_driver_name, :label => "Driver 2 Name:" %></div>
  <div class="clearfix"><%= f.input :co_driver_company, :label => "Driver 2 Company:" %></div>
  <div class="clearfix"><%= f.input :co_driver_address_line_1, :label => "Driver 2 Address:" %></div>
  <div class="clearfix"><%= f.input :co_driver_address_line_2, :label => "Driver 2 Address:" %></div>
  <div class="clearfix"><%= f.input :co_driver_city, :label => "Driver 2 City:" %></div>
  <div class="clearfix"><%= f.input :co_driver_postcode, :label => "Driver 2 Postcode:" %></div>
  <div class="clearfix"><%= f.input :co_driver_country, :label => "Driver 2 Country:" %></div>
  <div class="clearfix"><%= f.input :co_driver_telephone, :label => "Driver 2 Telephone:" %></div>
  <div class="clearfix"><%= f.input :co_driver_email, :label => "Driver 2 Email:" %></div>
  <div class="clearfix">
    <%= f.input :co_driver_tshirt, :label => "T-Shirt size", :collection => [
        ['S', 'S'],
        ['M', 'M'],
        ['L', 'L'],
        ['XL', 'XL'],
        ['XXL', 'XXL']
      ], :as => :select, :item_wrapper_tag => :li, :collection_wrapper_tag => :ul, :label_method => :last, :value_method => :first %>
  </div>

  <div class="clearfix">
    <h2>Room Supplements</h2>
    <p>Inclusive room is shared with your co-driver. The following optional upgrades are available on a 1st come basis, subject to availability. Please be advised these prices are per person and are exclusive for the 2 nights of the Rally. If you wish to stay an extra night please advise at time of booking and we can arrange this for you.</p>
  </div>

  <div class="clearfix"><%= f.input :sup_single_room, :label => "Single Room Supplement (£225 per person)" %></div>
  <div class="clearfix"><%= f.input :sup_fairmont_room, :label => "Fairmont View Room (£300 per person)" %></div>
  <div class="clearfix"><%= f.input :sup_deluxe_sea_room, :label => "Deluxe Sea and Garden View Room (£380 per person)" %></div>
  <div class="clearfix"><%= f.input :sup_garden_view_suite, :label => "Garden View Suite (£665 per person)" %></div>
  <div class="clearfix"><%= f.input :sup_riviera_sea_single_suite, :label => "Riviera Suite Sea View (£1000 per person)" %></div>
  <div class="clearfix"><%= f.input :sup_suite_grand_prix_room, :label => "Suite Grand Prix & Commodore (£2000 per person)" %></div>
  <div class="clearfix"><%= f.input :sup_own_car, :label => "Own Car Transport (£2000 approx)" %></div>
  <div class="clearfix"><%= f.input :sup_car_video_highlights, :label => "Personal Video Highlights (£1500)" %>
  </div>
  <div class="clearfix">
    <span class="help-block offset2"><strong>Note</strong>: Please be advised these prices are per person and are exclusive for the 2 nights of the Rally. <br>If you wish to stay an extra night please advise at time of booking and we can arrange this for you.
    </span>
  </div>

  <div class="clearfix">
    <h2>Payment Details</h2>
    <p><strong>JOINING FEE £2500 PER PERSON</strong> of which £1000 non-refundable deposit is required with registration to secure a place. Balance to be received by 1<sup>st</sup> April 2015.</p>
    <p>Please select your preferred method of payment</p>
  </div>
  <div class="clearfix"><%= f.input :amount, :label => "Total Due:", :input_html => {:class => "small"} %></div>
  <div class="clearfix">
    <%= f.input :gift_aid, :label => "Gift Aid" %>
    <span class="help-block offset2"><strong>Note</strong>: PLEASE TICK – I confirm I have paid or will pay an amount of Income Tax and/or Capital Gains Tax for each tax year (6 April to 5 April) that is at least equal to the amount of tax that all the charities or Community Amateur Sports Clubs (CASCs) that I donate to will reclaim on my gifts for that tax year. I understand that other taxes such as VAT and Council Tax do not qualify. I understand Chana will reclaim 28p of tax on every £1 that I gave up to 5 April 2008 and will reclaim 25p of tax on every £1 that I give on or after 6 April 2008 until I notify Chana otherwise. I will inform you should my tax situation alter or if my name and address details change.
    </span>
  </div>
  <div class="clearfix">
    <h3>UK & Europe Payment details</h3>
    <div class="input">
      <%= f.input :payment, :collection => [['Cheque', ' I enclose a cheque payable to '], ['CreditCard', ' I want to pay by Credit Card (please contact us on 020 8371 9080)'], ['Invoice', ' I require an invoice'], ['Receipt', ' I require a charity receipt'], ['BACS', ' I will make a BACS payment']], :as => :radio, :item_wrapper_tag => :li, :collection_wrapper_tag => :ul, :label_method => :last, :value_method => :first, :wrapper_html => { :class => "inputs-list" } %>
      <span class="lbl long"><div class="card strong"><h4>UK Bank Details</h4><dl><dt>Account Name</dt><dd>Chana Charitable Trust</dd><dt>Bank:</dt><dd>Unity Trust Bank</dd><dt>Sort Code:</dt><dd>08-60-01</dd><dt>Account Number:</dt><dd>20262640</dd><dt>Swift Code:</dt><dd>CPBKGB22</dd><dt>IBAN Number:</dt><dd>GB11 CPBK 0800 5150 073210</dd><dt>Ref:</dt><dd>Please provide your name</dd></dl>
      <h4>US Bank Details</h4>
      <dl><dt>Bank:</dt><dd>Astoria Federal Savings</dd><dt>Account Number:</dt><dd>8311013630</dd><dt>Swift Code:</dt><dd>221472815</dd><dt>Friends of Chana UK Inc.</dt><dt>TAX-ID No:</dt><dd>46-458-4506</dd><dt>C/O Judith Weiss, 1671 East 29th, Brooklyn NY 11229</dt></dl>
      </div></span>
    </div>
  </div>

  <div class="clearfix">
    <h4>Entry Donation / Booking Terms & Conditions</h4>
    <p>Places are limited and the closing date for entry is Wednesday 1<sup>st</sup> April 2015. The joining fee is £2,500 per person of which £1,000 non refundable deposit is required to secure a place. This also helps with Chana’s cash flow. Balance to be received by 1<sup>st</sup> April 2015. All entry donations will be paid direct to CHANA. Participants must arrange their own flights to Nice Airport as well as transfers to the hotel. Some cars will be delivered at the airport depending on the hire company logistics, to be confirmed nearer the time. If you have any queries please contact us on 0208 371 9080.</p>
  </div>

  <div class="clearfix">
    <h2>Comments</h2>
  </div>

  <div class="clearfix">
    <%= f.input :comments, :input_html => { :size => '30x10' }, :label => "Any other requirements or information" %>
  </div>
  
  <div class="clearfix">
    <div class="input button">
      <%= f.button :submit, :class => "btn large", :value => "Submit Registration" %>
    </div>
  </div>
</fieldset>

<% end %>
<div class="alert-message block-message warning contactme">
  <p>If you have any queries please email <a href="mailto:desi@jam-events.com">desi@jam-events.com</a> or call <strong>020 8371 9080</strong></p>
</div>

<script>

$(function(){
  $('label[for="registration_payment_cheque"]').html(' I will send a cheque <span class="lbl long"><br>payable to Chana Charitable Trust<br>send to c/o Jam Events,<br>314 Regents Park Road,<br>London,<br>N3 2JX<br>(Chana Charitable Trust Registered UK Charity Number 1070196)</span>');
  $('label[for="registration_payment_usa_cheque"]').html(' I will send a cheque <span class="lbl long"><br>payable to FRIENDS OF CHANA UK INC<br>and sent c/o Judith Weiss,<br>1671 East 29th,<br>Brooklyn NY 11229*</span>');
  $('label[for="registration_payment"]').hide();
});
</script>