<%= simple_form_for @registration do |f| %>
<fieldset>
  <div class="clearfix">
    <h2>Driver 1 Details</h2>
  </div>
  <div class="clearfix"><%= f.input :name %></div>
  <div class="clearfix"><%= f.input :company %></div>
  <div class="clearfix"><%= f.input :address_line_1 %></div>
  <div class="clearfix"><%= f.input :address_line_2 %></div>
  <div class="clearfix"><%= f.input :city %></div>
  <div class="clearfix"><%= f.input :postcode %></div>
  <div class="clearfix"><%= f.input :country %></div>
  <div class="clearfix"><%= f.input :telephone %></div>
  <div class="clearfix"><%= f.input :email %></div>

  <div class="clearfix">
    <h2>Driver 2 Details</h2>
  </div>
  <div class="clearfix"><%= f.input :co_driver_name, :label => "Driver 2 Name:" %></div>
  <div class="clearfix"><%= f.input :co_driver_company, :label => "Driver 2 Company:" %></div>
  <div class="clearfix"><%= f.input :co_driver_address_line_1, :label => "Driver 2 Address:" %></div>
  <div class="clearfix"><%= f.input :co_driver_address_line_2, :label => "Driver 2 Address:" %></div>
  <div class="clearfix"><%= f.input :co_driver_city, :label => "Driver 2 City:" %></div>
  <div class="clearfix"><%= f.input :co_driver_postcode, :label => "Driver 2 Postcode:" %></div>
  <div class="clearfix"><%= f.input :co_driver_country, :label => "Driver 2 Country:" %></div>
  <div class="clearfix"><%= f.input :co_driver_telephone, :label => "Driver 2 Telephone:" %></div>
  <div class="clearfix"><%= f.input :co_driver_email, :label => "Driver 2 Email:" %></div>

  <div class="clearfix">
    <h2>Room Supplements</h2>
    <p>Inclusive room is shared with your co-driver. The following optional upgrades are available on a 1st come basis, subject to availability. Tick as appropriate</p>
  </div>
  <div class="clearfix"><%= f.input :sup_single_room, :label => "Single Room (£100)" %></div>
  <div class="clearfix"><%= f.input :sup_superior_room, :label => "Superior room (£150)" %></div>
  <div class="clearfix"><%= f.input :sup_junior_suite, :label => "Junior Suite (8 available) (£250)" %></div>
  <div class="clearfix"><%= f.input :sup_junior_prestige_suite, :label => "Junior Suite Prestige Collection (5 available) (£300)" %></div>
  <div class="clearfix"><%= f.input :sup_suite, :label => "Suite (2 available) (£400)" %></div>
  <div class="clearfix"><%= f.input :sup_penthouse, :label => "Penthouse (1 available) (£450)" %>
  </div>
  <div class="clearfix">
    <span class="help-block offset2"><strong>Note</strong>: Please be advised these prices are per person and are exclusive for the 2 nights of the Rally. <br>If you wish to stay an extra night please advise at time of booking and we can arrange this for you.
    </span>
  </div>

  <div class="clearfix">
    <h2>Car Supplements</h2>
    <p>Tick as appropriate</p>
  </div>
  <div class="clearfix"><%= f.input :sup_own_car, :label => "Own Car Transport (£1500 approx)" %></div>
  <div class="clearfix"><%= f.input :sup_car_video_highlights, :label => "NEW: Personal Video Highlights (£1250)" %></div>

  <div class="clearfix"><%= f.input :sup_supercar, :label => "Exceptional car list", :collection => [
        ['Maserati Gran Cabrio €700 (Deductible €9000)', 'Maserati Gran Cabrio €700 (Deductible €9000)'],
        ['Porsche 911 Cabrio €1410 (Deductible €7000)', 'Porsche 911 Cabrio €1410 (Deductible €7000)'],
        ['Porsche Panamera GTS €1492 (Deductible €5000)', 'Porsche Panamera GTS €1492 (Deductible €5000)'],
        ['Ferrari California €3541 (Deductible €14,000)', 'Ferrari California €3541 (Deductible €14,000)'],
        ['Bentley GTC €4214 (Deductible €20,000)', 'Bentley GTC €4214 (Deductible €20,000)'],
        ['Ferrari 458 Spyder €4460 (Deductible €20,000)', 'Ferrari 458 Spyder €4460 (Deductible €20,000)'],
        ['Ferrari 458 Coupe €4790 (Deductible €15,000)', 'Ferrari 458 Coupe €4790 (Deductible €15,000)'],
        ['Ferrari 430 Spyder €5720 (Deductible €10,000)', 'Ferrari 430 Spyder €5720 (Deductible €10,000)'],
        ['Mercedes SLS AMG €5740 (Deductible €10,000)', 'Mercedes SLS AMG €5740 (Deductible €10,000)'],
        ['Audi R8 Spyder €5840 (Deductible €20,000)', 'Audi R8 Spyder €5840 (Deductible €20,000)'],
        ['Ferrari 612 Scaglietti €6298 (Deductible €15,000)', 'Ferrari 612 Scaglietti €6298 (Deductible €15,000)'],
        ['Lamborghini Gallardo €6590 (Deductible €21,000)', 'Lamborghini Gallardo €6590 (Deductible €21,000)'],
        ['Aston Martin DBS (manual) €6992 (Deductible €30,000)', 'Aston Martin DBS (manual) €6992 (Deductible €30,000)'],
        ['Ferrari Berlinetta F12 €7140 (Deductible €30,000)', 'Ferrari Berlinetta F12 €7140 (Deductible €30,000)'],
        ['Ferrari FF €7288 (Deductible €15,000)', 'Ferrari FF €7288 (Deductible €15,000)'],
        ['Lamborghini Aventador €10,100 (Deductible €30,000)', 'Lamborghini Aventador €10,100 (Deductible €30,000)']
      ], :as => :select, :item_wrapper_tag => :li, :collection_wrapper_tag => :ul, :label_method => :last, :value_method => :first, :selected => 'Maserati Gran Cabrio €700 (Deductible €9000)' %>
  </div>

  <div class="clearfix">
    <p>These prices are subject to availability until 31st March at a first come, first served basis.</p>
    <p>After this date we will not be able to guarantee these cars.</p>
    <p>If you have an alternative car you would like us to enquire about please inform us at time of registration.</p>
  </div>


  <div class="clearfix">
    <h2>Payment Details</h2>
    <p><strong>JOINING FEE £2500 PER PERSON</strong> of which £1000 non-refundable deposit is required with registration to secure a place. Balance to be received by 30th April 2014.</p>
    <p>Please select your preferred method of payment</p>
  </div>
  <div class="clearfix"><%= f.input :amount, :label => "Donation amount:", :input_html => {:class => "small"} %></div>
  <div class="clearfix">
    <h3>UK & Europe Payment details</h3>
    <div class="input">
      <%= f.input :payment, :collection => [
        ['Cheque', " I will send a cheque payable to "],
        ['Credit Card', ' I want to pay by credit card (Please call +44 208 371 9080. We are unable to accept AMEX)'],
        ['Invoice', ' I require an invoice'],
        ['Receipt', ' I require a charity receipt'],
        ['BACS', ' I will make a BACS payment']
      ], :as => :radio, :item_wrapper_tag => :li, :collection_wrapper_tag => :ul, :label_method => :last, :value_method => :first, :wrapper_html => { :class => "inputs-list" } %>
      <span class="lbl long"><div class="card strong"><dl><dt>Account Name</dt><dd>Chana Charitable Trust</dd><dt>Bank:</dt><dd>Unity Trust Bank</dd><dt>Sort Code:</dt><dd>08-60-01</dd><dt>Account Number:</dt><dd>20262640</dd><dt>Swift Code:</dt><dd>CPBKGB22</dd><dt>IBAN Number:</dt><dd>GB11 CPBK 0800 5150 073210</dd><dt>Ref:</dt><dd>Please provide your name</dd></dl></div></span>
    </div>

    <h3>US & Canada Payment details</h3>

    <div class="input">
      <%= f.input :payment, :collection => [
        ['USA Cheque', " I want to send a USA cheque*"],
        ['USA Online Payment', ' I will make an online payment from the USA']
      ], :as => :radio, :item_wrapper_tag => :li, :collection_wrapper_tag => :ul, :label_method => :last, :value_method => :first, :wrapper_html => { :class => "inputs-list" } %>
      <span class="lbl long"><div class="card strong"><dl><dt>Bank:</dt><dd>Astoria Bank Savings</dd><dt>Account Number:</dt><dd>8311013630</dd><dt>Swift Code:</dt><dd>221472815</dd><dt>Account Name</dt><dd>FRIENDS OF CHANA UK INC.</dd><dt>TAX-ID Number:</dt><dd>46-458-4506</dd></dl></div></span>
    </div>
    <div class="clearfix">
    <span class="help-block offset2"><strong>* Note</strong>: Please note that though tax-ID is through IRS registration isn’t completed but will be granted retrospectively. If that is a problem please contact us.
    </span>
  </div>
    <h4>Entry Donation / Booking Terms & Conditions</h4>
    <p>Places are limited and the closing date for entry is Tuesday 1st April 2014. The joining fee is £2,500 per person of which £1,000 non refundable deposit is required to secure a place. This also helps with Chana’s cash flow. Balance to be received by 30th April 2014. This is based on two people sharing a car and a twin/double room. All entry donations will be paid direct to CHANA. Participants must arrange their own flights as well as transfers to the hotel. Cars will be available from the hotel at registration.</p>
  </div>

  <div class="clearfix">
    <h2>Comments</h2>
  </div>
  <div class="clearfix">
    <%= f.input :comments, :input_html => { :size => '30x10' }, :label => "Any other requirements or information" %></div>
  <div class="clearfix">
    <div class="input button">
      <%= f.button :submit, :class => "btn large", :value => "Submit Registration" %>
    </div>
  </div>
</fieldset>

<% end %>
<div class="alert-message block-message warning contactme">
  <p>If you have any queries please email <a href="mailto:desi@jam-events.com">desi@jam-events.com</a> or call <strong>020 8371 9080</strong></p>
</div>

<script>

$(function(){
  $('label[for="registration_payment_cheque"]').html(' I will send a cheque <span class="lbl long"><br>payable to Chana Charitable Trust<br>send to c/o Jam Events,<br>314 Regents Park Road,<br>London,<br>N3 2JX<br>(Chana Charitable Trust Registered UK Charity Number 1070196)</span>');
  $('label[for="registration_payment_usa_cheque"]').html(' I will send a cheque <span class="lbl long"><br>payable to FRIENDS OF CHANA UK INC<br>and sent c/o Judith Weiss,<br>1671 East 29th,<br>Brooklyn NY 11229*</span>');
  $('label[for="registration_payment"]').hide();
});
</script>