<%= simple_form_for @registration do |f| %>
<fieldset>
  <div class="clearfix">
    <h2>Personal Details</h2>
  </div>
  <div class="clearfix"><%= f.input :name %></div>
  <div class="clearfix"><%= f.input :company %></div>
  <div class="clearfix"><%= f.input :address_line_1 %></div>
  <div class="clearfix"><%= f.input :address_line_2 %></div>
  <div class="clearfix"><%= f.input :city %></div>
  <div class="clearfix"><%= f.input :postcode %></div>
  <div class="clearfix"><%= f.input :country %></div>
  <div class="clearfix"><%= f.input :telephone %></div>
  <div class="clearfix"><%= f.input :email %></div>
  <div class="clearfix">
    <%= f.input :sup_tshirt, :collection => [ "Small", "Medium", "Large", "XL", "XXL"], :default => "Small", :input_html => { :class => 'small' }, :label => "T-Shirt Size" %>
    <span class="help-block offset2"><strong>NOTE</strong>: Sizes: S, M, L, XL, XXL</span>
  </div>
  <div class="clearfix"><%= f.input :co_driver, :label => "Co-Driver" %></div>
  <div class="clearfix"><%= f.input :co_driver_email, :label => "Co-Driver Email" %></div>
  <div class="clearfix">
    <h2>Payment Details</h2>
    <p>(Minimum Joining Fee £2000)</p>
    <p>Please select your preferred method of payment</p>
  </div>
  <div class="clearfix"><%= f.input :amount, :label => "Donation amount:", :input_html => {:class => "small"} %></div>
  <div class="clearfix">
    <div class="input">
      <%= f.input :payment, :collection => [['Cheque', ' I will send a cheque payable to '], ['Invoice', ' I require an invoice'], ['Receipt', ' I require a charity receipt'], ['BACS', ' I will make a BACS payment']], :as => :radio, :item_wrapper_tag => :li, :collection_wrapper_tag => :ul, :label_method => :last, :value_method => :first, :wrapper_html => { :class => "inputs-list" } %>
      <span class="lbl long"><div class="card strong"><dl><dt>Account Name</dt><dd>Chana Charitable Trust</dd><dt>Bank:</dt><dd>Unity Trust Bank</dd><dt>Sort Code:</dt><dd>08-60-01</dd><dt>Account Number:</dt><dd>20211002</dd><dt>Swift Code:</dt><dd>CPBKGB22</dd><dt>IBAN Number:</dt><dd>GB11 CPBK 0800 5150 073210</dd><dt>Ref:</dt><dd>Please provide your name</dd></dl></div></span>
    </div>
  </div>
  <div class="clearfix">
    <h2>Supplements</h2>
    <p>Tick as appropriate</p>
  </div>
  <div class="clearfix"><%= f.input :sup_single_room, :label => "Single Room (£200)" %></div>
  <div class="clearfix"><%= f.input :sup_junior_suite, :label => "Junior Suite (£350)" %></div>
  <div class="clearfix"><%= f.input :sup_exceptional_car, :label => "Exceptional Car" %>
    <span class="help-block offset2"><strong>Example</strong>: Ferrari, Lamborghini, Bentley, Porsche, etc</span>
    <span class="help-block offset2"><strong>Note</strong>: Availability &amp; pricing supplied upon request</span>
  </div>
  <div class="clearfix"><%= f.input :sup_own_car, :label => "Own Car Transport (£1500 approx)" %></div>
  <div class="clearfix">
    <%= f.input :comments, :input_html => { :size => '30x10' }, :label => "Any other requirements or information" %></div>
  <div class="clearfix">
    <div class="input button">
      <%= f.button :submit, :class => "btn large", :value => "Submit Registration" %>
    </div>
  </div>
</fieldset>
<% end %>
<div class="alert-message block-message warning contactme">
  <p>If you have any queries please email <a href="mailto:mark@jam-events.com">mark@jam-events.com</a> or call <strong>020 8371 3286</strong></p>
</div>

<script>
  
$(function(){
  $('label[for="registration_payment_cheque"]').html(' I will send a cheque payable to <span class="lbl long"><br>Chana Charitable Trust<br>c/o Jam Events,<br>314 Regents Park Road,<br>London,<br>N3 2JX<br>(Chana Charitable Trust Registered UK Charity Number 1070196)</span>');
  $('label[for="registration_payment"]').hide();
});
</script>