<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @registration.name %>
</p>

<p>
  <b>Company:</b>
  <%= @registration.company %>
</p>

<p>
  <b>Address line 1:</b>
  <%= @registration.address_line_1 %>
</p>

<p>
  <b>Address line 2:</b>
  <%= @registration.address_line_2 %>
</p>

<p>
  <b>City:</b>
  <%= @registration.city %>
</p>

<p>
  <b>Postcode:</b>
  <%= @registration.postcode %>
</p>

<p>
  <b>Country:</b>
  <%= @registration.country %>
</p>

<p>
  <b>Telephone:</b>
  <%= @registration.telephone %>
</p>

<p>
  <b>Email:</b>
  <%= @registration.email %>
</p>

<p>
  <b>Co driver:</b>
  <%= @registration.co_driver %>
</p>

<p>
  <b>Sup single room:</b>
  <%= @registration.sup_single_room %>
</p>

<p>
  <b>Sup junior suite:</b>
  <%= @registration.sup_junior_suite %>
</p>

<p>
  <b>Sup exceptional car:</b>
  <%= @registration.sup_exceptional_car %>
</p>

<p>
  <b>Sup own car:</b>
  <%= @registration.sup_own_car %>
</p>

<p>
  <b>Sup tshirt:</b>
  <%= @registration.sup_tshirt %>
</p>

<p>
  <b>Comments:</b>
  <%= @registration.comments %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
