<%= image_tag('/images/chanarally-banner.png') %>

<div style="position:relative;height: 44px">
  <div id="nav-box-wrapper">
    <div class="nav-box" id="nav-box">
      <div class="nav-top">
        <ul class="pills" data-tabs="tabs">
          <li class="<%= "active" if params[:action] == 'index' %>"> <%= link_to 'Home', root_path %> </li>
          <li class="<%= "active" if params[:action] == 'package' %>"><%= link_to 'Package', package_path %></li>
          <li class="<%= "active" if params[:action] == 'itinerary' %>"><%= link_to 'Itinerary', itinerary_path %></li>
          <li class="<%= "active" if params[:action] == 'new' && params[:controller] == 'registrations' %>"><%= link_to 'Registration', new_registration_path %></li>
          <li class="<%= "active" if params[:action] == 'new' && params[:controller] == 'brochures' %>"><%= link_to 'Advertising', new_brochure_path %></li>
          <!-- <li class="<%= "active" if params[:action] == 'sponsors' %>"><%= link_to 'Sponsors', sponsors_path %></li> -->
          <li class="<%= "active" if params[:action] == 'flights' %>"><%= link_to 'Flights', flights_path %></li>
          <li><%= link_to 'About Chana', about_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
$(function () {

  var msie6 = $.browser == 'msie' && $.browser.version <= 7;

  if (!msie6) {
    var top = $('#main').offset().top - parseFloat($('#main').css('margin-top').replace(/auto/, 0));
    $(window).scroll(function (event) {
      // what the y position of the scroll is
      var y = $(this).scrollTop();

      if (y >= top) {
        $('#nav-box').addClass('fixed');
      } else {
        $('#nav-box').removeClass('fixed');
      }
    });
  }
});
</script>