%div{:style => "width:940px;margin:0 0 40px 0"}
  .slider-wrapper.theme-default>
    .ribbon
    #ttlslider.nivoSlider{:style => "width: 940px;height:350px"}
      = image_tag('http://dummyimage.com/940x350&text=Pic 1', :alt => "", :width => "940", :height => "350")
      = image_tag('http://dummyimage.com/940x350&text=Pic 2', :alt => "", :width => "940", :height => "350")
      = image_tag('http://dummyimage.com/940x350&text=Pic 3', :alt => "", :width => "940", :height => "350")
      = image_tag('http://dummyimage.com/940x350&text=Pic 4', :alt => "", :width => "940", :height => "350")
      = image_tag('http://dummyimage.com/940x350&text=Pic 5', :alt => "", :width => "940", :height => "350")
      = image_tag('http://dummyimage.com/940x350&text=Pic 6', :alt => "", :width => "940", :height => "350")
      = image_tag('http://dummyimage.com/940x350&text=Pic 7', :alt => "", :width => "940", :height => "350")
      = image_tag('http://dummyimage.com/940x350&text=Pic 8', :alt => "", :width => "940", :height => "350")
      = image_tag('http://dummyimage.com/940x350&text=Pic 9', :alt => "", :width => "940", :height => "350")
      = image_tag('http://dummyimage.com/940x350&text=Pic 10', :alt => "", :width => "940", :height => "350")
      = image_tag('http://dummyimage.com/940x350&text=Pic 11', :alt => "", :width => "940", :height => "350")
      = image_tag('http://dummyimage.com/940x350&text=Pic 12', :alt => "", :width => "940", :height => "350")
      = image_tag('http://dummyimage.com/940x350&text=Pic 13', :alt => "", :width => "940", :height => "350")
      = image_tag('http://dummyimage.com/940x350&text=Pic 14', :alt => "", :width => "940", :height => "350")
      %span{:style => "position:absolute;top:355px;right: 0;font-size: 10px"} Photography by <a href="http://www.danielmphotography.com" style="display:inline">Daniel Morris</a>